  h2 {
  text-align: left;
  color: #000080;
}

 .parent{
  color: #000080;
  font-weight: bold;
   display: flex;
  color: #000080;
  
}

.flex {
    display: flex;
    justify-content: space-between;
}

.child {
  justify-content: flex-end;
  width: 100px;
  padding: 5px;
  margin: 5px;
}

.text {
  margin-top: 300px;
}

p {
  font-size: 50px;
  text-align: left;
  font-weight: 400;
  height: 10px;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.item1 {
  width: 50px;
  height: 100px;
  position: absolute;
  background: firstview.jpeg;
  top: -245px;
  left: 700px;
}

.item2 {
  width: 1050px;
  height: 200px;
  background: #000080;
}
